name: Build && Test

on:
  workflow_call:
    inputs:
      commit_sha:
        type: string

jobs:
  only_build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install Node.js 
      uses: actions/setup-node@v4
      with:
        cache: 'npm'
        node-version: 'latest'
        
    - run: npm install --no-optional
    - run: npm test
    - run: echo Build and tests are successful for ${{ inputs.commit_sha }}

    - name: Upload coverage artifacts
      uses: actions/upload-artifact@master
      with:
        name: coverage-output
        path: coverage/